<div id="<%= dom_id item_stat %>">
  <p>
    <strong>Item:</strong>
    <%= item_stat.item_id %>
  </p>

  <p>
    <strong>Equipable stat:</strong>
    <%= item_stat.equipable_stat_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= item_stat.qty %>
  </p>

</div>
