<p style="color: green"><%= notice %></p>

<h1>Monster items</h1>

<div id="monster_items">
  <% @monster_items.each do |monster_item| %>
    <%= render monster_item %>
    <p>
      <%= link_to "Show this monster item", monster_item %>
    </p>
  <% end %>
</div>

<%= link_to "New monster item", new_monster_item_path %>
