<p style="color: green"><%= notice %></p>

<h1>Weaknesses</h1>

<div id="weaknesses">
  <% @weaknesses.each do |weakness| %>
    <%= render weakness %>
    <p>
      <%= link_to "Show this weakness", weakness %>
    </p>
  <% end %>
</div>

<%= link_to "New weakness", new_weakness_path %>
