<h1>Editing skill level</h1>

<%= render "form", skill_level: @skill_level %>

<br>

<div>
  <%= link_to "Show this skill level", @skill_level %> |
  <%= link_to "Back to skill levels", skill_levels_path %>
</div>
