<div id="<%= dom_id monster_terrain %>">
  <p>
    <strong>Monster:</strong>
    <%= monster_terrain.monster_id %>
  </p>

  <p>
    <strong>Terrain:</strong>
    <%= monster_terrain.terrain_id %>
  </p>

</div>
