%p{:style => "color: green"}= notice
%h1 Monster terrains
#monster_terrains
  - @monster_terrains.each do |monster_terrain|
    = render monster_terrain
    %p
      = link_to "Show this monster terrain", monster_terrain
= link_to "New monster terrain", new_monster_terrain_path
