<div id="<%= dom_id monster_element %>">
  <p>
    <strong>Monster:</strong>
    <%= monster_element.monster_id %>
  </p>

  <p>
    <strong>Element:</strong>
    <%= monster_element.element_id %>
  </p>

</div>
