<h1>Editing monster element</h1>

<%= render "form", monster_element: @monster_element %>

<br>

<div>
  <%= link_to "Show this monster element", @monster_element %> |
  <%= link_to "Back to monster elements", monster_elements_path %>
</div>
