%p{:style => "color: green"}= notice
%h1 Monster elements
#monster_elements
  - @monster_elements.each do |monster_element|
    = render monster_element
    %p
      = link_to "Show this monster element", monster_element
= link_to "New monster element", new_monster_element_path
