<div id="<%= dom_id item_source %>">
  <p>
    <strong>Item:</strong>
    <%= item_source.item_id %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= item_source.source_id %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= item_source.stars %>
  </p>

</div>
