<h1>Editing equipable stat</h1>

<%= render "form", equipable_stat: @equipable_stat %>

<br>

<div>
  <%= link_to "Show this equipable stat", @equipable_stat %> |
  <%= link_to "Back to equipable stats", equipable_stats_path %>
</div>
