.areas_index {
  .areas {
    .area {
      display: grid;

      .area_link {
        .area_icon {
          display: inline;
          width: 100px;
        }

        .name {
          display: inline-block;
          line-height: 1;
          transform: translateY(-22px);
        }
      }
    }
  }
}
