.equip_header {
  display: flex;

  .icon {
    display: inline;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .name {
    font-size: 30pt;
    vertical-align: top;
    position: relative;
    top: 14px;
  }
}
