.equip_header {
  position: relative;

  .icon {
    display: inline;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .name {
    display: inline;
    font-size: 30pt;
    vertical-align: top;
    position: absolute;
    top: 16px;
  }
}
