.item_badge {
  display: flex;
  position: relative;
  background-color: black;
  border: solid 2px green;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 4px;
  line-height: 1;
  width: 180px;

  &.r0 {
    border-color: rgba(255, 255, 255, 0.2);
  }

  &.r1 {
    border-color: #92abab;
  }

  &.r2 {
    border-color: #49b955;
  }

  &.r3 {
    border-color: #4b8ac9;
  }

  &.r4 {
    border-color: #c26ae1;
  }

  &.r5 {
    border-color: #f0b73b;
  }

  &.r6 {
    border-color: #fc6b6b;
  }

  .icon {
    display: grid;
    position: relative;
    text-align: center;
    margin: 4px;
  }

  .name {
    display: grid;
    color: white;
    font-size: 9pt;
    transform: translateY(1px);
  }

  .qty {
    display: grid;
    color: white;
    font-size: 9pt;
    transform: translateY(4px);
  }

  .text {
    display: grid;
    font-size: 8pt;
    color: black;
    width: 140px;
    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
  }
}
