.item_header {
  display: flex;

  .icon {
    .item_icon {
      background-color: var(--transparent-bg);

      img {
        width: 100px;
        height: 100px;
        background-color: var(--transparent-bg);
      }
    }
  }

  .text {
    .name {
      font-size: 30pt;
      vertical-align: top;
      position: relative;
      top: 14px;
    }
  }
}
