<div id="<%= dom_id equipable %>">
  <p>
    <strong>Group:</strong>
    <%= equipable.group %>
  </p>

  <p>
    <strong>Subgroup:</strong>
    <%= equipable.subgroup %>
  </p>

  <p>
    <strong>Monster:</strong>
    <%= equipable.monster_id %>
  </p>

</div>
