<h1>Editing forge item</h1>

<%= render "form", forge_item: @forge_item %>

<br>

<div>
  <%= link_to "Show this forge item", @forge_item %> |
  <%= link_to "Back to forge items", forge_items_path %>
</div>
