<p style="color: green"><%= notice %></p>

<h1>Forge items</h1>

<div id="forge_items">
  <% @forge_items.each do |forge_item| %>
    <%= render forge_item %>
    <p>
      <%= link_to "Show this forge item", forge_item %>
    </p>
  <% end %>
</div>

<%= link_to "New forge item", new_forge_item_path %>
